@model IEnumerable<FastRest.Models.OrdertableModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Pedidos</h1>

@if (TempData["CreateStatus"] != null)
{
    <div class="alert alert-info"> @TempData["CreateStatus"] </div>
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsumptionMethod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RestaurantId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsumptionMethod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RestaurantId)
            </td>
            <td> 
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-status="IN_PREPARATION" class="btn btn-warning btn-sm">Em preparo</a>
                    <a asp-action="Edit" asp-route-id="@item.Id" asp-route-status="FINISHED" class="btn btn-success btn-sm">Finalizar</a>
            </td>
        </tr>
}
    </tbody>
</table>
